/*Custom Properties*/
:root {
    /*Colores*/
    --blanco: #ffffff;
    --oscuro: #21212121;
    --negro: #000000;
    --amarillo: #FFC107;
    --bondi-blue: #0097A7;


    /*Tipografías*/
    --jet-brains: "JetBrains Mono";

}
/*Configuraciones para tamaño de texto*/
/*"rem" es relativo al documento*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: var(--jet-brains);
}

.titulo {
    text-align: center;
    color: var(--bondi-blue);
    font-size: 3.8rem;
}

.contenedor {
    width: 120rem;
    margin: 0rem auto;
}

.nav-background {
    background-color: var(--blanco);
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a{
    color: var(--negro);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

